 .login {
    background-image: url("https://4.bp.blogspot.com/-V529wgvZNfo/WKw5e-CfmiI/AAAAAAAADgI/JUiwq1eD2UchXemN9lbRVbqiAcQhMZUNACLcB/s1600/empty-bar.jpg");
    background-size: cover;
    height: 500px;
    color: white;
}